*{
    margin: 0;               /* fill the contents to the full webpage*/
    padding: 0;
}

body section {
    background-color: #e0e0e0;

}

html{
    font-family: 'Ubuntu', sans-serif;

}

body{
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  height: 380px;
  margin: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
    background-color: rosybrown;
    top: 0;
    background-size: cover;
    padding: 5px;
    
}

section img{
    border-radius: 25%;
    display: block;
    margin-left: 8em;
    margin-top: 2em;
}



body footer{
    background-color: rosybrown;
    padding: 10px;
    position: sticky;
    bottom: 0vh;
    left: 0vh;
    
}


header img{
    height: 60px;
    width: 60px;
}


#login{
    text-align: right;
    margin-right: 1%;
    position: relative;
    bottom: 40px;

}

#copy{
    text-align: center;
    text-decoration: none;
    
}

.links{
    text-align: right;
    
}

input{
    justify-content: center;
    position: relative;
    top: 100px;
    left: 650px;
    height: 50px;
    width: 200px;
    border-radius: 7%;

}

span{
    display: inline-table;
    margin-right: 30px;
}

.content{
    display:block;
    margin: 0;
    padding: 0;
    margin-top: 25%;
    height: 15em;
  
}    

header,footer{
    height: 50px;
    display: cover;
}

#viewMore{
    position: relative;
    left: 640px;
    top: 10px;
}

#contact{
    position: relative;
    top: 15px;
}