
body section {
    background-color: #e0e0e0;
    padding: 5%;
    margin-top: 35%;
    margin-left: 15%;
    margin-right: 15%;
    display: table
    
    
}

html{
    font-family: 'Ubuntu', sans-serif;

}

body{
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  height: 380px;
  margin: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
    background-color: rosybrown;
    height: 100%;
    background-size: cover;
    padding: 5px;
    
}

section img{
    border-radius: 25%;
    position: center;
}



body footer{
    background-color: rosybrown;
    padding: 10px;
    
}


header img{
    height: 60px;
    width: 60px;
}


*{
    margin: 0;               /* fill the contents to the full webpage*/
    padding: 0;
}

#login{
    text-align: right;
    margin-right: 1%;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

#copy{
    text-align: center;
    text-decoration: none;
    
}

.links{
    text-align: right;
    
}

#search-bar{
    height: 50%;
    width: 100%;
    size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    border: solid transparent;
    font-size: 16px;

}

span{
    display: inline-table;
    margin-right: 30px;
}