*{
    margin: 0;               /* fill the contents to the full webpage*/
    padding: 0;
}

html{
    font-family: 'Ubuntu', sans-serif;

}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

body footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0vh;
    left: 0vh;
    
}


#radisson, #lalit, #taj{
    margin-left: 2%;
    padding: 1%;
}

header{
    background-color: rosybrown;
    height: 100%;
    background-size: cover;
    
}

ul{
    margin: 2%;
}



content img {
    height: 200px;
    width: 250px;
    
}

header img{
    height: 60px;
    width: 60px;
}

#map img {

    height: 500px;
    width: 1000px;

}


#login{
    text-align: right;
    margin-right: 1%;
    position: relative;
    bottom: 40px;

}

#copy{
    text-align: center;
    text-decoration: none;
    
}

.links{
    text-align: right;
    
}

li{
    display: inline-flex;
    text-align: center;
    margin-right: 20px;
}


#viewMore{
    position: relative;
    left: 640px;
    top: 10px;
}

#contact{
    position: relative;
    top: 15px;
}