*{
    margin: 0;               /* fill the contents to the full webpage*/
    padding: 0;
}

.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid grey;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute; 
    top: 50%;
    left: 50%;
}